.left-panel {
  width: 260px;
  background-color: #f3f4f6;
  border-right: 1px solid #ccc;
  height: 100vh;
  overflow-y: auto;

  .left-header {
    padding: 1rem;
    border-bottom: 1px solid #dcd7d7;

    .header {
      font-size: 16px;
    }

    .stats {
      display: flex;
      gap: 1rem;
      font-size: 12px;
      color: #444;
      margin-top: 1rem;
      div{
        width: 4rem;
      }
    }
  }

  .folder-list {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #d4d2d2; 
      border-radius: 4px;
      padding: 0 2px;
    }
    &::-webkit-scrollbar-thumb {
      background: #c0c4cc;
      border-radius: 4px;
      border: 2px solid #f3f4f6;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #a0a4b0;
    }
    .folder-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
      padding: 0.6rem 0.3rem;
      cursor: pointer;
      border-bottom: 1px solid #dcd7d7;
      border-right: 1px solid #dcd7d7;

      &:hover {
        background: #e0e7ff;
      }

      &.active {
        background-color: #c7d2fe;
      }

      .folder-name {
        font-size: 14px;
      }
    }

    .folder-children {
      padding-left: 1.5rem;
      border-left: 1px dashed #ccc;
      .file-row{
        padding: 0.6rem 0.3rem;
        border-bottom: 1px solid #dcd7d7;
        cursor: pointer;

        &:hover {
          background: #e0e7ff;
        }
  
        &.active {
          background-color: #c7d2fe;
        }
        .file-icon {
          color: #3f51b5;
          font-size: 18px;
        }
        .file-name {
          font-size: 14px;
          color: #444;
        }
      }
    }
  }
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.fz-2 {
  font-size: 2rem;
}
.mt-2 {
  margin-top: 8px;
}
.align-center {
  align-items: center;
}
.gap-1 {
  gap: 4px;
}
  

.folder-icon {
  font-size: 18px;
}

.toggle-icon {
  cursor: pointer;
  font-size: 18px;
  color: #666;
  transition: transform 0.2s ease;
  width: 24px;
}