.primary-sidebar {
  width: 60px;
  background-color: #2D336B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;

  .nav-upper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .nav-icons {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      .nav-icon {
        width: 2rem;
        height: 2rem;
        background: #3b4b79;
        border-radius: 8px;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: #5c6ca1;
        }
      }
      .nav-head-icon{
        width: 2.5rem;
        height: 2.5rem;
        background: #99a6d0;
        border-radius: 8px;
        transition: 0.2s ease;
        cursor: pointer;
      }
    }
  }

  .profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
}
